<!-- gx-8 : horizontal spaces between our different column -->


<div class="row py-lg-5 gx-8">
    <!-- Menu row one -->
    <div class="col-auto col-lg-4 d-flex align-items-start">
        <span class="f-w-16 text-primary me-7 d-none d-lg-flex">
            <!-- w-100 will fixed the element in span -->
            <img class="dropdown-img" src="/img/cars/forklift2.png" alt="">
        </span>

        <div class="position-relative">
            <h6 class="dropdown-heading">Forklift</h6>
            <p class="text-muted">Elevate efficiency with our forklifts! Versatile and robust, they empower seamless material handling, ensuring productivity and safety. Precision, speed, and reliability make them essential tools for success in any industrial setting</p>
            <a class="fw-medium fs-7 text-decoration-none link-cover text-danger" href="#">Read more &rarr;</a>
        </div>
    </div>

    <!-- Menu row two -->
    <div class="col-auto col-lg-4 d-flex align-items-start">
        <span class="f-w-16 text-primary me-5 d-none d-lg-flex">
            <img class="dropdown-img" src="/img/cars/REACH-TRUCK.png" alt="">
        </span>

        <div class="position-relative">
            <h6 class="dropdown-heading">Reach Truck</h6>
            <p class="text-muted">Maximize versatility with our reach trucks! Engineered for precision and efficiency, these compact yet powerful machines effortlessly navigate tight spaces. Elevate warehouse operations with cutting-edge reach trucks, designed for high-reaching performance and optimized storage.</p>
            <a class="fw-medium fs-7 text-decoration-none link-cover text-danger" href="#">Read more &rarr;</a>
        </div>
    </div>

    <!-- Menu row three -->
    <div class="col-auto col-lg-4 d-flex align-items-start">
        <span class="f-w-16 text-primary me-6 d-none d-lg-flex">
            <img class="dropdown-img" src="/img/cars/handjack-1.png" alt="">
        </span>
    
        <div class="position-relative">
            <h6 class="dropdown-heading">Hand Pallet Jack</h6>
            <p class="text-muted">Elevate warehouse logistics with our compact and maneuverable hand pallet jacks. Designed for efficiency and reliability, they effortlessly move heavy loads, streamlining material handling for enhanced productivity and ease in industrial settings.</p>
            <a class="fw-medium fs-7 text-decoration-none link-cover text-danger" href="#">Read more &rarr;</a>
        </div>
    </div>
    
</div>


<!-- Tutorial -->
<div class="mt-4 border-top d-none d-lg-flex flex-column py-5">
    <p class="text-muted">The usage of heavy duty vehicles :-</p>
    <a class="fw-medium fs-7 text-decoration-none link-cover text-danger" href="#">The ultimate guide to control driven the vehicle &rarr;</a>
    <a class="fw-medium fs-7 text-decoration-none link-cover text-danger" href="#">How to look for the model for your needs &rarr;</a>
</div>