<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Boilerplate</title>

    <!-- Remixicon icon -->
    <link rel="stylesheet" href="/remixicon/fonts/remixicon.css"> 
    <link rel="stylesheet" href="/css/main.css">

</head>

<body class="body">
    <main class="">
        <%- body%>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>
    <!-- <script src="/waypoints/lib/noframework.waypoints.min.js"></script>
    <script src="/waypoints/lib/shortcuts/sticky.min.js"></script>
    <script src="/jquery/dist/jquery.js"></script> -->
    <script src="/js/scss-navbar/dropdown.js"></script>
</body>

</html>