
// Project specific components
.dropdown-menu {
    box-shadow: $box-shadow-lg;
}

// target dropdown-toggle icon (^)
.dropdown-toggle {
    position: relative;

    &:after {
        border: 0;
        font-family: var(--theme-font-icon);
        font-style: var(--theme-font-icon-style);
        content: "\EA50";
        margin: 0 !important;
        font-size: 1.15rem;
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
    }

    &.show {
        &:after {
            // (V) icon
            content: "\EA56";
        }
    }   
}

// Spacing for dropdown toggle
.dropdown-toggle {
    padding-right: 1.25rem !important;
}


// dropdown heading
.dropdown-heading{
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-size: 80%;
    margin-bottom: 1rem;
    font-weight: 600;
}

// dropdown img
.dropdown-img{
    width: 200px;
    height: 100px;

}



// Bootstrap break point lg upward
// this will center the mega menu dropdown
@include media-breakpoint-up(lg) {
    .dropdown-megamenu {
        width: 100%;
        left: 0;
        right: 0;
        border-radius: 0 !important;
        padding: 0 !important;
        background: $white;
        margin: 0 !important;
        border: 0 !important;
        border-top: 1px solid $border-color !important;
        box-shadow: 0 1.5rem 31px -17px rgb(22 28 45 / 8%);
    };

    // No animation below lg.
    .dropdown-megamenu.show{
        animation: fadeInUp .4s;
    };
}


