@import 'custom-variables';

// Project specific variables
$btn-padding-y: 1rem;
$btn-padding-x: 1.25rem;
$btn-font-size: .975rem;
$btn-line-height:1;
$btn-font-weight:500;

$link-decoration:none;
$navbar-light-color: $text-muted;
$navbar-light-hover-color: $danger;
$navbar-light-active-color: $danger;
$navbar-padding-y : 0;


$nav-link-padding-y:1.75rem;
// $nav-link-padding-x: 1rem;
$nav-link-font-size: 1rem;
$navbar-nav-link-padding-x: 1.25rem;

//refined box-shadow
$box-shadow-sm: 0 4px .5rem rgba(29,48,61, .03);
$box-shadow: 0 .5rem 1rem rgba(29,48,61, .06);
$box-shadow-lg: 0 1rem 2.5rem rgba(29,48,61, .125);
$box-shadow-inset: inset 0 1px 2px rgba($black, .075);

//dropdown menu
$dropdown-font-size: .9375rem;
$dropdown-color: $body-color;
$dropdown-border-color: transparent;
$dropdown-box-shadow: $box-shadow-lg;  //this have no effect, need use css.


$dropdown-link-color: $text-muted;
$dropdown-link-hover-color: $danger;
$dropdown-link-hover-bg:  transparent;
$dropdown-divider-bg: $gray-300;