<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Boilerplate</title>

    <!-- Remixicon icon -->
    <link rel="stylesheet" href="/remixicon/fonts/remixicon.css"> 
    <link rel="stylesheet" href="/css/main.css">

</head>

<body class="body">
    <%- include('../partials/navbar/navbar.ejs')%>
    
    <main class="">
        <%- body%>
    </main>

    <!-- bootstrap npm package -->
    <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
    <script src="/js/scss-navbar/dropdown.js"></script>
</body>

</html>