<ul class="navbar-nav">
    <li class="nav-item">
        <a href="" class="nav-link">About</a>
    </li>
    <li class="nav-item">
        <a href="" class="nav-link">Contact</a>
    </li>
</ul>


<!-- Dropdown megamenu -->
<!-- <li class="nav-item dropdown position-static">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
        id="dropdownMega">
        Dropdown Megamenu
    </a>
    <div class="dropdown-menu dropdown-megamenu">
        <div class="container">
            wakakakaksdafadfadf
        </div>
    </div>
</li> -->