

<div class="row py-lg-5 gx-8">
    <!-- Menu row one -->
    <div class="col-auto col-lg-6 d-flex align-items-start">
        <span class="f-w-16 text-primary me-4 d-none d-lg-flex">
            <!-- w-100 will fixed the element in span -->
            <img class="dropdown-img" src="/img/charger/charger.png" alt="">
        </span>

        <div class="position-relative">
            <h6 class="dropdown-heading">Charger</h6>
            <p class="text-muted">Optimize forklift performance with our smart chargers. Fast, efficient, and reliable, they ensure quick charging cycles, extended battery life, and uninterrupted workflow for your industrial operations</p>
            <a class="fw-medium fs-7 text-decoration-none link-cover text-danger" href="#">Read more &rarr;</a>
        </div>
    </div>

    <!-- Menu row two -->
    <div class="col-auto col-lg-6 d-flex align-items-start">
        <span class="f-w-16 text-primary me-8 d-none d-lg-flex">
            <img class="dropdown-img" src="/img/battery/battery.png" alt="">
        </span>

        <div class="position-relative">
            <h6 class="dropdown-heading">Battery</h6>
            <p class="text-muted">Power your forklift with our advanced batteries. Reliable and efficient, they ensure continuous operation, enhancing productivity and longevity for your industrial equipment. Invest in performance excellence today.</p>
            <a class="fw-medium fs-7 text-decoration-none link-cover text-danger" href="#">Read more &rarr;</a>
        </div>
    </div>

    <!-- Menu row three -->
    <!-- <div class="col-auto col-lg-4 d-flex align-items-start">
        <span class="f-w-16 text-primary me-6 d-none d-lg-flex">
            <img class="dropdown-img" src="/img/handjack-1.png" alt="">
        </span>
    
        <div class="position-relative">
            <h6 class="dropdown-heading">Hand Pallet Jack</h6>
            <p class="text-muted">Hand-operated vehicles with a handle and lever to control the lifting/lowering of the forks and the
                horizontal
                travel.</p>
            <a class="fw-medium fs-7 text-decoration-none link-cover" href="#">Read more &rarr;</a>
        </div>
    </div> -->
    
</div>